
<nav id = "navbar" >
      <div class = "navlinks">
        <a class = "navLink" href = "#home">Home</a>
        <a class = "navLink" href = "#dailyReminders">Daily Reminders</a>
        <a class = "navLink" href = "#calender">Calendar</a>
        <a class = "navLink" href = "/blank">Journal</a>
      </div>
    </nav>