:root{
  --darkTeal: #64a6bd;
  --purpleTeal: #90a8c3;
  --purple: #ada7c9;
  --pink: #f4cae0;
  --nearWhite: #feecf5;
  --grey: rgb(68, 68, 68);

  --mainFont: 'Montserrat', sans-serif;
  --cursive:  'Dawning of a New Day', cursive;
  
}
body{
  margin-top: 47px;
  //background-color: var(--purple);
  //margin-left:0px;
}

.bannerImg, .banner{
  width: 100%;
  //height:600px;
}

.hoverDate:hover, .hoverDate1Num:hover{
  background: var(--pink);
  //color: white;
  padding:5px;
  border-radius: 2px;
}

.hoverDate1Num:hover{
  padding:5px;
  padding-left:8px;
  padding-right: 8px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close, .close2, .close3, .close4, .close5,  .close6, .close7, .close8, .close9, .close10,  .close11, .close12, .close13, .close14, .close15, .close16, .close17, .close18, .close19, .close20, .close21, .close22, .close23, .close24, .close25, .close26, .close27, .close28, .close29, .close30{


  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.close2:hover,
.close2:focus, 
.close3:hover,
.close3:focus,
.close4:hover,
.close4:focus,
.close5:hover,
.close5:focus,
.close6:hover,
.close6:focus,
.close7:hover,
.close7:focus,
.close8:hover,
.close8:focus,
.close9:hover,
.close9:focus,
.close10:hover,
.close10:focus,
.close11:hover,
.close11:focus,
.close12:hover,
.close12:focus,
.close13:hover,
.close13:focus,
.close14:hover,
.close14:focus,
.close15:hover,
.close15:focus,
.close16:hover,
.close16:focus,
.close17:hover,
.close17:focus,
.close18:hover,
.close18:focus,
.close19:hover,
.close19:focus,
.close20:hover,
.close20:focus,
.close21:hover,
.close21:focus,
.close22:hover,
.close22:focus,
.close23:hover,
.close23:focus,
.close24:hover,
.close24:focus,
.close25:hover,
.close25:focus,
.close26:hover,
.close26:focus,
.close27:hover,
.close27:focus,
.close28:hover,
.close28:focus,
.close29:hover,
.close29:focus,
.close30:hover,
.close30:focus,
{
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.navlinks {
  //margin-right: 1%;
  float: right;
  background-color: var(--purpleTeal);
  width: 100%;
  height: 47px;
  margin: auto;
  margin-left: -15px;
  margin-right:-15px;
  padding-top: 10px;
  position: fixed;
  top:0;
  z-index: 10;
}

.navLink{
  //background-color: white;
  border-radius: 2px;
  padding: 5px;
  text-align: center;
  float:right;
  margin-right: 40px;
  font-family: var(--subFont);
  text-decoration: none;
  color: white;
}

.navLink:hover{
  background-color: var(--nearWhite);
  color: var(--darkTeal);
  border-radius: 5px;
  padding: 5px;
}
ul {list-style-type: none;}
body {font-family: var(--mainFont);}

/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  //background: var(--darkTeal);
  background-image: url(images/MonthBackground.png);
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}



/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size:40px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: var(--mainFont);
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:var(--purpleTeal);
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: white;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: var(--nearWhite);
  margin: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  font-family: var(--subFont);
  margin-bottom: 15px;
  font-size:18px;
  color: var(--grey);
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: var(--darkTeal);
  color: white !important}


.decorLine{
  width:30%;
  height:10px;
  background: var(--purple);
  border-radius:5px;
}

.rightLine{
  float: right;
  //display: inline;
  margin-top: 60px;
  margin-left:30px;
  margin-right:30px;
}

.leftLine{
  float: left;
  //display: inline;
  margin-top:60px;
  margin-left:30px;
  margin-right:30px;
}

.title{
  float:center;
  //display: inline;
  color: var(--darkTeal);
  text-align: center;
  font-size: 40px;
  font-family: var(--mainFont);
  

  //font-family: Montserrat;
  margin-top: 40px;
}

.head-container{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 30px; 
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
.myUL {
  margin: 0;
  padding: 0;
}

/* Style the list items */
.todoUL .listItem {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
.todoUL .listItem:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
.todoUL .listItem:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
.todoUL .listItem.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
.todoUL .listItem.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.closeUL {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.closeUL:hover {
  background-color: var(--darkTeal);
  color: white;
}

/* Style the header */
.header {
  background-color: var(--darkTeal);
  padding: 30px 40px;
  border-radius: 10px;
  
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background-color: var(--purpleTeal);
  color: var(--grey);
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: var(--purple);
  //color: white;
}

/* Slideshow container */
.slideshow-container {
  //margin-top: 100px;
  width: 100%;
  position: relative;
  margin: auto;
  
  //display: flex;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.Heading{
  font-family: 'Montserrat', sans-serif;
  color: var(--darkTeal);
  text-align: center;
  font-size: 25px;
}

.slideContent{
  background-image: url(images/Background.png);
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0px;
  height: 300px;
  border-radius:10px;
}

.quote{
 font-family: var(--cursive);
 color: var(--darkTeal);
  padding: 10px;
  padding-top: 20px;
  font-size: 40px;
  background-color: var(--nearWhite);
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius:10px;
}

.lifeTipHeader{
  font-family: var(--mainFont);
  text-align: center;
  color: var(--nearWhite);
  text-transform: uppercase;
  font-size: 40px;
}

.tip{
  margin-left: 20px;
  font-family: var(--mainFont);
  text-align:center;
  color: rgb(68, 68, 68);
}

@media only screen and (max-width: 650px){
  .tip{
    font-size:20px;
  }
  .slideContent{
    height: 350px;
  }
}

#comments{
  margin-top: 400px;
}



.list, #other-links-list{
  list-style: none;
  
}

.comment{
  border-style: solid;
  border-color: var(--purple);
  background-color: white;
  margin-bottom: 20px;
  margin-right: 240px;
  margin-left: 200px;
  border-radius: 10px;
  overflow-wrap: break-word;
  //padding-right: 15px;
  //padding-bottom:15px;

}



.name-form{
  font-family: var(--cursive);
  padding: 30px;
  padding-top: 0px;
  margin-left: 30px;
  margin-top: 0px;
  margin-bottom: 30px;
  border: 1px solid var(--purpleTeal);
  border-radius: 5px;
  
}

.commentTextArea{
  font-family: var(--mainFont);
  padding: 30px;
  //margin-top:20px;
  margin-left: 180px;
  text-align: center;
  border: 1px solid var(--purpleTeal);
  border-radius: 5px;
  color: var(--grey);
  //width: 30%;
  //margin-top: 30px;
}


.commentTextArea:focus, .name-form:focus {
    outline: none;
    border: 1px solidvar(--purpleTeal);
    box-shadow: inset 0 0 0.5rem var(--purple);
}

.comment-form{
  font-family: var(--mainFont);
  padding-right: 30px;
  padding-left: 30px;
  margin-left: 30px;
  
}

.comment{
  text-align: center;
  color: var(--grey);
   background-image: url(images/Background.png);
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 20px;
  //margin-bottom: 0px;
  //margin-bottom: 50px;
}

.niceBkgrnd{
  background-color: var(--nearWhite);
  padding-top: 10px;
  padding-bottom: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom:0px;
  //height: 30px;
}
.poop4{
  font-family: var(--mainFont);
  padding: 30px;
  margin-left: 490px;
  margin-top: 20px;
  margin-bottom: 30px;
  //text-align: center;
}

input[type=submit] {
    padding:10px 20px; 
    background: var(--purpleTeal); 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    font-family: var(--mainFont);
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
    transition: all .3s ease-in-out;
    
}

input[type=submit]:hover { 
    background: var(--darkTeal); 
    color: white;
    border:0 none;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -1px, 0px);   
}

#journalEntry{
  color: var(--purpleTeal);
  font-family: var(--cursive);
  text-align: center;
  margin-top: 0px;
  font-size: 50px;
  background-color: var(--nearWhite);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 120%;
}
#add-comment{
  float: left;
  background-color: var(--purple);
  padding-right: 70px;
  padding-top: 0px;
  padding-left: 0px;
  margin-left: 40px;
  border-radius: 10px;

}
/*
#comments-img{
  width: 25%;
  float:right;
  margin-right: 8%;
  margin-top: -15px;
  margin-left: 50px; 
}


#both-full{
  //display: block;
  margin-left: 5%;
}


.full-screen{
  display: flex;
  flex-direction: column;
  width: 93%;
  margin-left: 0px;
  margin-right: 30px;
  background-color: #CCCCCC;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

iframe{
  width: 90%;
  height: 80%;
}

#otherImage{
  width: 100%;
}*/

@media only screen and (max-width: 920px){

  .positivityImg{
    display:none;
  }

}
/*



  #logo{
    width: 15%;
  }

  #otherImage{
    display:none;
  }
}


@media only screen and (min-width: 650px){
  .cardimg{
    width: 300px;
  }
}
*/
    
  /*.title{
    font-size: 45px;
    margin-top: 20px;
  }
  
  .leftLine, .rightLine{
    margin-top: 40px;
  }
  .button{
    margin-right: 10px;
    
  }
  .card{
    border-radius: 30px;
  }
  .cardimg{
    width: 200px;
  }*/
  .commentTextArea{
    width: 300px;
    margin-left: 40px;
    margin-top:20px;
  }
  .name-form{
    display:block;
    margin-left: 40px;
    padding-top:0px;
    padding-bottom: 0px;
    margin-bottom: 5px;
    margin-top: 0px;
  
}
  .poop4{
    margin-left: 40px;
  }
  .comment{
    margin-left: 18%;
    margin-right: 25%;
  }

  #name{
    font-family: var(--cursive);
    text-align:center;
    color: var(--darkTeal);
    font-size: 35px;
    margin-bottom: 0px;
  }

  #form-space{ height: 20px;}

  
  .nameLabel{
    margin-left: 40px;
    padding-left:0px;
  }

  .comment-form{
    margin-left: 40px;
    padding-left: 0px;
    margin-top: 20px;
  }

.space{
  height: 170px;
}

.positivityImg{
  float:right;
  width: 1000px;
  margin-top: -10px;
]
@media only screen and (max-width: 2500px){
  #add-comment{
  float: left;
  background-color: var(--purple);
  padding-right: 40px;
  padding-top: 30px;
  padding-left: 0px;
  margin-left: 40px;
  border-radius: 10px;
  }
}



