<html>

<head>
  <%- include("partials/head", {title: ""}); %>
</head>

<body>
  <header>
    <%- include("partials/header", {user: user}); %>
  </header>
  
  <!-- YOUR PAGE CONTENT GOES HERE -->

  <footer>
    <%- include("partials/footer"); %>
  </footer>

  <%- include("partials/scripts"); %>
</body>

</html>